<h2>Choose Example</h2>
<ul>
  <li>
    <h2><a routerLink="ngContent">Simple tile with ngContent</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngTemplate">Simple tile with ngTemplate</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngTemplateWithDefaultTemplate">Simple tile with ngTemplate and a default template</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngTemplateWithSectionalTemplates">Advanced tile with sectional customizable templates</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngTemplateWithAdvancedProductList">Advanced tile with advanced productList</a></h2>
  </li>
</ul>
<div style="width: 1000px; margin: 0 auto;">
  <router-outlet></router-outlet>
</div>
