/* You can add global styles to this file, and also import other style files */
.tile {
  height: 300px;
  width: 300px;
  border: 1px solid lightgray;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px 5px;
  padding: 5px;

  .tile-actions {
    display: flex;
    margin-top: auto;
  }

  .tile-overlay {
    display: none;
  }

  &:hover .tile-overlay {
    display: block;
    position: absolute;
    z-index: 5;
    height: 80%;
    width: 100%;
  }
}

.selected .tile {
  border-color: black;
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: black transparent transparent transparent;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}


.product-details {
  width: 925px;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  border: 1px dashed aquamarine;
}

* {
  box-sizing: border-box;
}